		/*
			 * 导航2
			 */
		
		.nav2_containner {
			width: 100%;
			height: 44px;
			background: #292929;
			position: relative;
		}
		
		.nav2 {
			width: 1380px;
			height: 44px;
			background-color: rgba(0, 0, 0, .7);
			position: relative;
			margin: 0 auto;
			color: #3a3a3a;
		}
		
		.nav2 a {
			color: white;
			font-size: 14px;
			padding: 0 10px;
		}
		
		.nav2 a:hover {
			color: #82d900;
		}
		
		.navLt {
			position: absolute;
			left: 0;
			top: 10px;
		}
		
		.navRt {
			height: 44px;
			position: absolute;
			right: 0;
			top: 10px;
		}
		/*
			 * 导航2结束**************************************************************************************
			 */
		
		.nav3_container {
			width: 100%;
			height: 356px;
			background: #292929;
			position: relative;
		}
		
		.nav3 {
			width: 1380px;
			height: 356px;
			position: relative;
			margin: 0 auto;
			overflow: hidden;
		}
		
		.nav3 li {
			position: relative;
			float: left;
			margin: 5px;
		}
		
		.nav3_left {
			width: 380px;
			float: left;
		}
		
		.nav3_left li {
			width: 380px;
			height: 336px;
		}
		
		.nav3_center {
			width: 400px;
			float: left;
		}
		
		.nav3_center li:first-child {
			width: 390px;
			height: 220px;
		}
		
		.nav3_center li:nth-child(2),
		.nav3_center li:nth-child(3),
		.nav3_right li:first-child {
			width: 190px;
			height: 106px;
		}
		
		.nav3_right {
			width: 200px;
			float: left;
		}
		
		.nav3_right li:nth-child(2) {
			width: 190px;
			height: 220pxx;
		}
		
		.nav3_decoration {
			width: 100%;
			position: absolute;
			bottom: 0px;
			background: rgba(0, 0, 0, .6);
			overflow: hidden;
			color: white;
		}
		
		.nav3_decoration h3 {
			font-size: 12px;
		}
		
		.nav3_decoration p {
			font: 12px;
			display: none;
		}
		/*
			 * 导航3结束**************************************************************************************
			 */
		/*
			 * 导航4开始**************************************************************************************
			 */
		
		.nav4 {
			width: 1380px;
			height: 97px;
		}
		/*
			 * 导航4结束**************************************************************************************
			 */