/*
			 * 导航2
			 */

.nav2_containner {
	width: 100%;
	height: 44px;
	background: #292929;
	position: relative;
}

.nav2 {
	width: 1349px;
	height: 44px;
	background-color: rgba(0, 0, 0, .7);
	position: relative;
	margin: 0 auto;
	color: #3a3a3a;
}

.nav2 a {
	color: white;
	font-size: 14px;
	padding: 0 10px;
}

.nav2 a:hover {
	color: #82d900;
}

.navLt {
	position: absolute;
	left: 0;
	top: 10px;
}

.navRt {
	height: 44px;
	position: absolute;
	right: 0;
	top: 10px;
}


/*
			 * 导航2结束**************************************************************************************
			 */

.nav3_container {
	width: 100%;
	height: 356px;
	background: #292929;
	position: relative;
	z-index: 0;
}

.nav3 {
	width: 1349px;
	height: 356px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.nav3 li {
	position: relative;
	float: left;
}

.nav3 li img {
	padding: 5px;
}

.nav3 li .nav3_cover {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
}

.nav3_left {
	width: 380px;
	float: left;
}

.nav3_left li {
	width: 380px;
	height: 336px;
}

.nav3_center {
	width: 390px;
	float: left;
}

.nav3_center li:first-child {
	width: 390px;
	height: 220px;
	margin-bottom: 10px;
}

.nav3_center li:nth-child(2),
.nav3_center li:nth-child(3),
.nav3_right li:first-child {
	width: 190px;
	height: 106px;
}

.nav3_right {
	width: 190px;
	float: left;
}

.nav3_right li:nth-child(2) {
	margin-top: 10px;
	width: 190px;
	height: 220pxx;
}

.nav3_decoration {
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: rgba(0, 0, 0, .6);
	overflow: hidden;
	color: white;
}

.nav3_decoration h3 {
	font-size: 12px;
	margin: 5px 10px;
}

.nav3_decoration p {
	font: 12px;
	margin: 5px 10px;
	display: none;
}


/*
			 * 导航3结束**************************************************************************************
			 */


/*
			 * 导航4开始**************************************************************************************
			 */

.nav4 {
	width: 1349px;
	height: 127px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.nav4>#nav4_left,
.nav4>#nav4_right {
	width: 100px;
	height: 127px;
	position: absolute;
	z-index: 100;
	background: white;
}

.nav4>#nav4_left {
	left: 0;
	top: 0;
}

.nav4>#nav4_right {
	right: 0;
	top: 0;
}

.nav4 ul {
	width: 1350px;
	height: 97px;
	position: relative;
	top: 20px;
	z-index: 0;
	left: 100px;
}

.nav4 li {
	float: left;
	text-align: center;
	margin: 0 10px;
}

.nav4 li a {
	color: #333;
}

.nav4 li a:hover {
	color: #699f00;
}

.nav4 img {
	width: 75px;
	height: 75px;
	border-radius: 75px;
	position: relative;
}

.nav4>#nav4_left>a,
.nav4>#nav4_right>a {
	display: block;
	width: 11px;
	height: 17px;
	overflow: hidden;
	background: red;
	background: url(//www.qiyipic.com/common/fix/site/site-icons-v10.png) no-repeat;
	position: absolute;
	top: 55px;
	left: 45px;
}

.nav4 #nav4_left>a {
	background-position: -40px -1100px;
	cursor: default;
}

.nav4 #nav4_right>a {
	background-position: -80px -1100px;
	cursor: pointer;
}


/*
			 * 导航4结束**************************************************************************************
			 */