		.fix {
			position: fixed;
			top: 0;
			display: none;
			z-index: 10;
		}
		
		body>.nav_a {
			width: 100%;
			min-width: 1200px;
			height: 58px;
			background: #222;
			overflow: hidden;
		}
		
		.nav_a a {
			color: white;
		}
		
		.nav_a .b {
			width: 1200px;
			height: 70px;
			margin: 0 auto;
		}
		
		.nav_a .c {
			width: 260px;
			height: 70px;
			float: left;
		}
		
		.nav_a .d {
			width: 512px;
			height: 70px;
			float: left;
		}
		
		.nav_a .e {
			width: 415px;
			height: 70px;
			float: right;
		}
		
		.nav_a .e ul li:hover {
			color: yellowgreen;
		}
		
		.nav_a .d1 {
			width: 300px;
			height: 36px;
			color: black;
			margin-left: 34px;
			margin-top: 10px;
			padding-left: 10px;
			line-height: 37px;
		}
		
		.nav_a .d2 {
			width: 100px;
			height: 36px;
			margin-left: 330px;
			margin-top: -36px;
			float: left;
		}
		
		.nav_a .e ul {
			margin-top: 13px;
		}
		
		.nav_a .e li {
			float: left;
			list-style: none;
			font-size: 15px;
			display: inline-block;
			padding: 5px;
			color: gainsboro;
		}
		
		.nav_a .e ul li a:hover {
			color: yellowgreen;
		}